html,
body {
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
    height: 100%;
    color: #848484;
}

h1 {
    font-family: "Fira Code", monospace;
    color: #333333;
}

h2 {
    font-family: "Fira Code", monospace;
    color: #555;
}

h3 {
    font-family: "Fira Code", monospace;
    text-align: center;
    margin-block: 0;
}

a {
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

code {
    font-family: "Fira Code", monospace;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: #848484;
            transition: fill 0.3s ease;
        }

        svg:hover {
            fill: #333333;
        }
    }
}
